<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.contact.title1}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.contact.title(${contact.name})}">
        </p>
        <p th:text="#{email.contact.text1}">
        </p>
        <p>
         <em th:text="${contact.msg}"></em>
        </p>
        <p th:text="#{email.contact.text3}">
        </p>

        <p>
            <span th:text="#{email.contact.text2}"></span>
            <br/>
            <em th:text="#{email.signature1}"></em><br/>
            <em th:text="#{email.signature2}"></em><br/>
            <em th:text="#{email.signature3}"></em><br/>
            <em th:text="#{email.signature4}"></em><br/>
            <em th:text="#{email.signature5}"></em><br/>
            <em th:text="#{email.signature6}"></em><br/>
            <em th:text="#{email.signature7}"></em>
        </p>
    </body>
</html>