<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.familyaccessPasswordreset.title(${user.firstName})}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.familyaccessPasswordreset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.familyaccessPasswordreset.text5(${user.login})}"></p>
        <p th:text="#{email.familyaccessPasswordreset.text4(${user.login})}">

        </p>
        <p th:text="#{email.familyaccessPasswordreset.text1}">
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/familyaccessPasswordreset/finish?key=${user.resetKey}|}"
               th:text="@{|${baseUrl}/#/familyaccessPasswordreset/finish?key=${user.resetKey}|}">Reset Link</a>
               <br/>
        </p>
        <p th:text="#{email.familyaccessPasswordreset.text3}"></p>
        <p>
            <span th:text="#{email.familyaccessPasswordreset.text2}">Thanks and Regards, </span>
            <br/>
            <em th:text="#{email.signature1}"></em><br/>
            <em th:text="#{email.signature2}"></em><br/>
            <em th:text="#{email.signature3}"></em><br/>
            <em th:text="#{email.signature4}"></em><br/>
            <em th:text="#{email.signature5}"></em><br/>
            <em th:text="#{email.signature6}"></em><br/>
            <em th:text="#{email.signature7}"></em>
        </p>
    </body>
</html>
