<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.refer.title1}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.refer.title(${contact.name})}">
        </p>
        <p th:text="#{email.refer.text1(${contact.yourname})}">
        </p>
        <p>
          <q><em th:text="${contact.msg}"></em></q>
        </p>
        <p th:text="#{email.refer.text3}">
        </p>
        <!-- <p th:text="${contact.yourname}">
        </p> -->

        <p>
            <span th:text="#{email.refer.text2}"></span>
            <br/>
            <em th:text="#{email.signature1}"></em><br/>
            <em th:text="#{email.signature2}"></em><br/>
            <em th:text="#{email.signature3}"></em><br/>
            <em th:text="#{email.signature4}"></em><br/>
            <em th:text="#{email.signature5}"></em><br/>
            <em th:text="#{email.signature6}"></em><br/>
            <em th:text="#{email.signature7}"></em>
        </p>
    </body>
</html>